@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/purin.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Crimson Text", serif;
}

/*Page wrapper for menu*/

#content.menu {
    margin: auto;
    text-align: center;
    height: inherit;
}

/* Page titles */

.title {
    font-size: 3rem;
    padding-bottom: 20px;
}

/* Menu cards */

.menu-item {
    height: 200px;
    background-color: rgb(255,235,205,0.9);
    border-radius: 5px;
    padding: 10px;
    line-height: 2rem;
}

.menu-wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

/*About us page*/

#content.about {
    margin: auto;
    text-align: center;
    height: inherit;
}

.about-wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.about-body {
    background-color: rgb(255,235,205,0.9);
    border-radius: 5px;
    padding: 10px;
}


/*Nav bar*/

nav {
    display: flex;
    justify-content: flex-end;
}

.black-bar {
    flex-grow: 1;
    background-color: black;
}

/* Buttons */

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
    padding-left: 50px;
    padding-right: 50px;
	font: inherit;
	cursor: pointer;
	outline: 1px solid black;
}

/*Homepage text*/

.small {
    font-size: 2rem;
    padding-top: 10px;
    font-style: italic;
}

.big {
    font-size: 4rem;
    line-height: 3.5rem;
    padding-bottom: 10px;
    font-weight: 500;
}

.small,
.big {
    padding-left: 10px;
    background-color: rgb(0,0,0,0.2);
    color: black;
}

.text-wrapper {
    border: 1px solid rgb(0,0,0,0.4);
    width: 50vw;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 50px;
    border: 1px solid black;
}

.footer-black-bar {
    background-color: black;
}